* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #F5F5F5;
}

.header {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 1em;
    background-color: #424554;
    color: #fff;
}

.main {
    padding: 0 20px;
}

.main__response {
    background-color: #dad9d7;
    max-height: 100px;
    max-width: 450px;
    margin: 10px auto;
    padding: 10px 5px;
    display: flex;
    border-radius: 8px;
    overflow-y: auto;
}

.main__response__icon {
    margin: 5px;
    font-size: 1.5em;
    width: 10%;
}

.main__list-history {
    display: flex;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.main__list-history.active {
    display: block;
    max-height: 120px;
    overflow-y: auto;
    opacity: 1;
    width: 280px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-weight: bold;
}

.main__list-history.active .item {
    background-color: #424554;
    list-style: none;
    padding: 10px;
    color: #fff;
    border: 1px solid #9c99aa;
    cursor: pointer;
}

.main__response__icon:hover {
    cursor: pointer;
    color: #14b9b1;
}

.main__response__digits {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.3em;
}

.main__response::-webkit-scrollbar {
    width: 12px;
}

.main__response::-webkit-scrollbar-track {
    background: #dad9d7;
    border-radius: 10px;
}

.main__response::-webkit-scrollbar-thumb {
    background: #424554;
    border-radius: 10px;
}

.main__response::-webkit-scrollbar-thumb:hover {
    background: #c2c2c1;
}

.main__response {
    scrollbar-width: thin;
    scrollbar-color: #424554 #dad9d7;
}

.main__calculator {
    max-width: 450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 1.25em;
    gap: 2px;
}

.main__calculator__operator, .main__calculator__number, .main__calculator__clear {
    color: #FFFFFF;
    padding: 5px;
}

.main__calculator__operator, .main__calculator__clear, .main__calculator__equal {
    border: 2px solid #474646;
    font-weight: 600;
}

.main__calculator__operator, .main__calculator__number, .main__calculator__clear, .main__calculator__equal {
    border-radius: 8px;
}

.main__calculator__operator {
    background-color: #9c99aa;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main__calculator__operator:hover {
    background-color: #8b8a8f;
}

.main__calculator__operator.settings {
    font-size: 1.4em;
}

.main__calculator__number {
    background-color: #424554;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main__calculator__number:hover {
    background-color: #707280;
}

.main__calculator__clear {
    background-color: #9c99aa;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main__calculator__clear:hover {
    background-color: #8b8a8f;
}

.main__calculator__equal {
    background-color: #1adbd2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    grid-column-start: 4;
    grid-row: 4/6;
}

.main__calculator__equal:hover {
    background-color: #0ec0b7;
}

.colorRes{
    color: #424554;
    font-weight: bolder;
    font-size: 1.8em;

    transition: all .3s;
}

.footer {
    background-color: #424554;
    color: #fff;
    padding: 10px;
}

.footer__my-name {
    text-transform: uppercase;
}

@media (min-height: 700px) {
    .main__list-history.active {
        max-height: 150px;
    }
    
}

@media (min-height: 900px) {
    .main__list-history.active {
        max-height: 240px;
    }
    
}

@media (min-height: 1080px) {
    .main__list-history.active {
        max-height: 300px;
    }
    
}